<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">
      <i class="large material-icons">lightbulb_outline</i>
      {{appName}}
    </a>
  </div>
  <div class="nav-content center">
    <span class="nav-title">for your big ideas</span>
    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal left">
      <i class="material-icons">add</i>
    </a>
  </div>
</nav>