<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/custom.css" media="screen,projection" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compastitble" content="ie=edge">
  <title>{{appName}}</title>
</head>

<body>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="localhost:3000" class="brand-logo center">
        <i class="large material-icons">lightbulb_outline</i>
        {{appName}}
      </a>
    </div>
    <div class="nav-content center">
      <span class="nav-title">for your big ideas</span>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal left">
        <i class="material-icons">add</i>
      </a>
    </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>