<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- DC, note: to get material icons to render at localhost for firefox, use 'http' rather than 'https' -->
  <!-- DC, however, when deployed to heroku, using 'https' does not render icon for firefox only -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/custom.css" media="screen,projection" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113641523-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-113641523-4');
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compastitble" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>{{appName}}</title>
</head>

<body>
  {{> _navbar}}
  <div class="container">
    {{{body}}}
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/moment.min.js"></script>
</body>

</html>