<h1>ideas index</h1>
<div class="row">
  {{#each ideas}}
  <div class="col s12 l4">
    <div class="card orange accent-1">
      <div class="card-content brown-darken-4-text">
        <span class="card-title">{{topic}}</span>
        <p>{{details}}</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  {{else}}
  <p>Empty</p>
  {{/each}}
  </div